# Implementing Recommender Systems - Lab

## Introduction

In this lab, you'll practice creating a recommender system model using surprise. You'll also get the chance to create a more complete recommender system pipeline to obtain the top recommendations for a specific user.

## Objectives
You will be able to:
* Fit a recommender system model to a set of data
* Create a function that will return the top recommendations for a user
* Introduce a new user to a rating matrix and make recommendations for them

For this lab, we will be using the famous 1M movie dataset. It contains a collection of user ratings for many different movies. In the last  lesson, you got exposed to working with Surprise datasets. In this lab, you will also go through the process of reading in a dataset into the Surprise dataset format. To begin with, load the dataset into a pandas dataframe. Determine which columns are necessary for your recommendation system and drop any extraneous ones.

In [1]:
import pandas as pd
df = pd.read_csv('./ml-latest-small/ratings.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
userId       100836 non-null int64
movieId      100836 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [2]:
df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [4]:
#drop unnecessary columns
new_df= df.drop(columns='timestamp')

In [7]:
pip install scikit-surprise

Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/f5/da/b5700d96495fb4f092be497f02492768a3d96a3f4fa2ae7dea46d4081cfa/scikit-surprise-1.1.0.tar.gz (6.4MB)
     |████████████████████████████████| 6.5MB 14.2MB/s eta 0:00:01
Requirement already satisfied: joblib>=0.11 in /opt/conda/envs/learn-env/lib/python3.6/site-packages (from scikit-surprise) (0.14.0)
Requirement already satisfied: numpy>=1.11.2 in /opt/conda/envs/learn-env/lib/python3.6/site-packages (from scikit-surprise) (1.17.2)
Requirement already satisfied: scipy>=1.0.0 in /opt/conda/envs/learn-env/lib/python3.6/site-packages (from scikit-surprise) (1.3.1)
Requirement already satisfied: six>=1.10.0 in /opt/conda/envs/learn-env/lib/python3.6/site-packages (from scikit-surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.0-cp36-cp36m-linux_x86_64.whl size=1709103 sha256=12bd672b00691333175f89ff20dc6853436dba00bf7c0365da1935e7c1c90d5f
  Stored in directory: /home/effulgent-block-4530/.cache/pip/wheels/cc/fa/8c/16c93fccce688ae1bde7d979ff102f7bee980d9cfeb8641bcf
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.0
Note: you may need to restart the kernel to use updated packages.

It's now time to transform the dataset into something compatible with Surprise. In order to do this, you're going to need `Reader` and `Dataset` classes. There's a method in `Dataset` specifically for loading dataframes.

In [8]:
from surprise import Reader, Dataset
# read in values as Surprise dataset 
reader = Reader()
data = Dataset.load_from_df(new_df, reader)

Let's look at how many users and items we have in our dataset. If using neighborhood-based methods, this will help us determine whether or not we should perform user-user or item-item similarity

In [9]:
dataset = data.build_full_trainset()
print('Number of users: ',dataset.n_users,'\n')
print('Number of items: ',dataset.n_items)

Number of users:  610

Number of items:  9724

## Determine the Best Model
Now, compare the different models and see which ones perform best. For consistency sake, use RMSE to evaluate models. Remember to cross-validate! Can you get a model with a higher average RMSE on test data than 0.869?

In [10]:
# importing relevant libraries
from surprise.model_selection import cross_validate
from surprise.prediction_algorithms import SVD
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline
from surprise.model_selection import GridSearchCV
import numpy as np

In [11]:
## Perform a gridsearch with SVD
# ⏰ This cell may take several minutes to run
params = {'n_factors' :[20,50,100],
         'reg_all':[0.02,0.05,0.1]}
g_s_svd = GridSearchCV(SVD,param_grid=params,n_jobs=-1)
g_s_svd.fit(data)

In [12]:
# print out optimal parameters for SVD after GridSearch
print(g_s_svd.best_score)
print(g_s_svd.best_params)

{'rmse': 0.8686642989317372, 'mae': 0.6679045205058355}
{'rmse': {'n_factors': 100, 'reg_all': 0.05}, 'mae': {'n_factors': 100, 'reg_all': 0.05}}

In [13]:
# cross validating with KNNBasic
knn_basic = KNNBasic(sim_options={'name':'pearson','user_based':True})
cv_knn_basic= cross_validate(knn_basic,data,n_jobs=-1)

In [14]:
# print out the average RMSE score for the test set
for i in cv_knn_basic.items():
    print(i)
print('-----------------------')
print(np.mean(cv_knn_basic['test_rmse']))

('test_rmse', array([0.96576963, 0.97703163, 0.97322079, 0.974897  , 0.96989543]))
('test_mae', array([0.74752201, 0.75175026, 0.75102473, 0.75432234, 0.75066939]))
('fit_time', (0.4205756187438965, 0.6413142681121826, 0.42450690269470215, 0.45615172386169434, 0.4171907901763916))
('test_time', (1.5315988063812256, 1.2494122982025146, 1.3657052516937256, 1.2834539413452148, 1.2733871936798096))
-----------------------
0.9721628969065454

In [15]:
# cross validating with KNNBaseline
knn_baseline = KNNBaseline(sim_options={'name':'pearson','user_based':True})
cv_knn_baseline = cross_validate(knn_baseline,data)

Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.

In [16]:
# print out the average score for the test set
for i in cv_knn_baseline.items():
    print(i)

np.mean(cv_knn_baseline['test_rmse'])

('test_rmse', array([0.88532598, 0.87770309, 0.87328514, 0.87415363, 0.87254866]))
('test_mae', array([0.67659825, 0.67151256, 0.66647875, 0.66590132, 0.66779003]))
('fit_time', (0.6661584377288818, 0.7837166786193848, 0.8569235801696777, 0.8324124813079834, 0.7435562610626221))
('test_time', (2.2100303173065186, 2.0122690200805664, 2.31628155708313, 2.034471273422241, 2.2625696659088135))

0.8766033017523508

Based off these outputs, it seems like the best performing model is the SVD model with n_factors = 50 and a regularization rate of 0.05. Let's use that model to make some predictions. Use that model or if you found one that performs better, feel free to use that.

## Making Recommendations

This next section is going to involve making recommendations, and it's important that the output for the recommendation is interpretable to people. Rather than returning the movie_id values, it would be far more valuable to return the actual title of the movie. As a first step, let's read in the movies to a dataframe and take a peek at what information we have about them.

In [17]:
df_movies = pd.read_csv('./ml-latest-small/movies.csv')

In [18]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## Making simple predictions
Just as a reminder, let's look at how you make a prediction for an individual user and item. First, we'll fit the SVD model we had from before.

In [19]:
svd = SVD(n_factors= 50, reg_all=0.05)
svd.fit(dataset)

In [20]:
svd.predict(2,4)

Prediction(uid=2, iid=4, r_ui=None, est=3.048191693172843, details={'was_impossible': False})

This prediction value is a tuple and each of the values within it can be accessed by way of indexing. Now let's put all of our knowledge of recommendation systems to do something interesting: making predictions for a new user!

## Obtaining User Ratings 

It's great that we have working models and everything, but wouldn't it be nice to get to recommendations specifically tailored to your preferences? That's what we'll be doing now. The first step to go let's create a function that allows students to pick randomly selected movies. The function should present users with a movie and ask them to rate it. If they have not seen the movie, they should be able to skip rating it. 

The function `movie_rater` should take as parameters:
* movie_df : DataFrame - a dataframe containing the movie ids, name of movie, and genres
* num : int - number of ratings
* genre : string - a specific genre from which to draw movies

The function returns:
* rating_list : list - a collection of dictionaries in the format of {'userId': int  , 'movieId': int  ,'rating': float  }

#### This function is optional, but fun :)

In [21]:
def movie_rater(movie_df,num, genre=None):
    userID = 1000
    rating_list = []
    while num > 0:
        if genre:
            movie = movie_df[movie_df['genres'].str.contains(genre)].sample(1)
        else:
            movie = movie_df.sample(1)
        print(movie)
        rating = input('How do you rate this movie on a scale of 1-5, press n if you have not seen :\n')
        if rating == 'n':
            continue
        else:
            rating_one_movie = {'userId':userID,'movieId':movie['movieId'].values[0],'rating':rating}
            rating_list.append(rating_one_movie) 
            num -= 1
    return rating_list

In [22]:
# try out the new function here!
user_rating = movie_rater(df_movies,4,'Comedy')

      movieId             title        genres
6471    52724  Lucky You (2007)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                  title  genres
6594    55292  Comebacks, The (2007)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                         title        genres
9104   144478  Sex, Drugs & Taxation (2013)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                         title  genres
4423     6535  Legally Blonde 2: Red, White & Blonde (2003)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId             title                genres
4342     6342  Trip, The (2002)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                  title  genres
1707     2295  Impostors, The (1998)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId          title  genres
1089     1414  Mother (1996)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title                genres
5711    27826  Touch of Pink (2004)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                         title                        genres
5836    32314  Incident at Loch Ness (2004)  Adventure|Comedy|Documentary
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  \
2963     3972  Legend of Drunken Master, The (Jui kuen II) (1...

             genres
2963  Action|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
5
     movieId                                              title  \
406      468  Englishman Who Went Up a Hill But Came Down a ...

             genres
406  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  \
5572    26776  Porco Rosso (Crimson Pig) (Kurenai no buta) (1...

                                          genres
5572  Adventure|Animation|Comedy|Fantasy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                             title                     genres
8936   136359  Scooby-Doo Goes Hollywood (1979)  Animation|Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId            title      genres
3220     4349  Catch-22 (1970)  Comedy|War
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId               title        genres
4177     6020  Alice Adams (1935)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  genres
4091     5849  I'm Starting From Three (Ricomincio da Tre) (1...  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  genres
2597     3473  Jonah Who Will Be 25 in the Year 2000 (Jonas q...  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                               title  genres
3135     4219  Girls Just Want to Have Fun (1985)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                 title  genres
9659   181139  Lynne Koplitz: Hormonal Beast (2017)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                          title                genres
8182   103027  Much Ado About Nothing (2012)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                       title  genres
5075     7983  Broadway Danny Rose (1984)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId           title                                 genres
6774    60074  Hancock (2008)  Action|Adventure|Comedy|Crime|Fantasy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
3
      movieId                    title                genres
1953     2589  Friends & Lovers (1999)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                  title            genres
8022    97913  Wreck-It Ralph (2012)  Animation|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
5
      movieId                       title          genres
3251     4394  Beach Blanket Bingo (1965)  Comedy|Musical
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                    title        genres
6533    54281  Charlie Bartlett (2007)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title                genres
3383     4602  Harlem Nights (1989)  Comedy|Crime|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                               title        genres
1613     2155  Slums of Beverly Hills, The (1998)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                         title                  genres
5424    25870  Here Comes Mr. Jordan (1941)  Comedy|Fantasy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                  title  genres
3696     5096  Baby's Day Out (1994)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                title        genres
6669    57522  First Sunday (2008)  Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title        genres
8852   132800  Welcome to Me (2014)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                               title          genres
3796     5309  Three Men and a Little Lady (1990)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId            title            genres
4884     7317  EuroTrip (2004)  Adventure|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
5

If you're struggling to come up with the above function, you can use this list of user ratings to complete the next segment

In [38]:
user_rating

[{'userId': 1000, 'movieId': 55245, 'rating': '5'},
 {'userId': 1000, 'movieId': 2491, 'rating': '4'},
 {'userId': 1000, 'movieId': 4718, 'rating': '4'},
 {'userId': 1000, 'movieId': 5990, 'rating': '3'}]

### Making Predictions With the New Ratings
Now that you have new ratings, you can use them to make predictions for this new user. The proper way this should work is:

* add the new ratings to the original ratings DataFrame, read into a Surprise dataset
* train a model using the new combined DataFrame
* make predictions for the user
* order those predictions from highest rated to lowest rated
* return the top n recommendations with the text of the actual movie (rather than just the index number)

In [23]:
## add the new ratings to the original ratings DataFrame
new_ratings_df = new_df.append(user_rating,ignore_index=True)
new_data = Dataset.load_from_df(new_ratings_df,reader)

In [24]:
# train a model using the new combined DataFrame
svd_ = SVD(n_factors= 50, reg_all=0.05)
svd_.fit(new_data.build_full_trainset())

In [25]:
# make predictions for the user
# you'll probably want to create a list of tuples in the format (movie_id, predicted_score)
list_of_movies = []
for m_id in new_df['movieId'].unique():
    list_of_movies.append( (m_id,svd_.predict(1000,m_id)[3]))

In [26]:
# order the predictions from highest to lowest rated

ranked_movies = sorted(list_of_movies,key=lambda x:x[1],reverse=True)

 For the final component of this challenge, it could be useful to create a function `recommended_movies` that takes in the parameters:
* `user_ratings` : list - list of tuples formulated as (user_id, movie_id) (should be in order of best to worst for this individual)
* `movie_title_df` : DataFrame 
* `n` : int- number of recommended movies 

The function should use a for loop to print out each recommended *n* movies in order from best to worst

In [27]:
# return the top n recommendations using the 
def recommended_movies(user_ratings,movie_title_df,n):
        for idx, rec in enumerate(user_ratings):
            title = movie_title_df.loc[movie_title_df['movieId'] == int(rec[0])]['title']
            print('Recommendation # ',idx+1,': ',title,'\n')
            n-= 1
            if n == 0:
                break
            
recommended_movies(ranked_movies,df_movies,5)

Recommendation #  1 :  277    Shawshank Redemption, The (1994)
Name: title, dtype: object

Recommendation #  2 :  2582    Guess Who's Coming to Dinner (1967)
Name: title, dtype: object

Recommendation #  3 :  694    Casablanca (1942)
Name: title, dtype: object

Recommendation #  4 :  3622    Amelie (Fabuleux destin d'Amélie Poulain, Le) ...
Name: title, dtype: object

Recommendation #  5 :  704    Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)
Name: title, dtype: object

## Level Up

* Try and chain all of the steps together into one function that asks users for ratings for a certain number of movies, then all of the above steps are performed to return the top n recommendations
* Make a recommender system that only returns items that come from a specified genre

## Summary

In this lab, you got the change to implement a collaborative filtering model as well as retrieve recommendations from that model. You also got the opportunity to add your own recommendations to the system to get new recommendations for yourself! Next, you will get exposed to using spark to make recommender systems.